<%- include ('_partials/_header'); -%>

<h1>About</h1>
<div>
  <p>
    During 2022, a problem which has long existed in the UK came to the fore due
    to the extreme weather the country experienced. A long dry period followed
    by intense periods of rain, which just ran off as the ground was so dry.
    This run off caused the water companies to discharge large amount of raw
    sewage into waterways around the UK.
    <br /><br />
    Unfortunately as the UK's water system was built so many years ago, and the
    UK is traditionally a "wet" country, the system is designed to discharge
    excess water when intense rain happens, to stop the excess water or sewage
    flooding back into peoples homes and businesses. However, as the climate is
    now changing, this is causing challenges for this system. That is why, after
    the extreme weather of 2022, that this problem became so noticeable. A huge
    amount of infrastructure investment would be required to stop the problem
    happening, as the entire system is designed to do this.
    <br /><br />
    Also, the monitoring stations run by the water companies to monitor this
    have varying levels of information and operation. Many do not work and it is
    hard to access data from the ones which do. This is why this website has
    been launched. The goal is to provide accessible data that provides
    information about water quality in a simple easy to digest format, with
    interactive graphs and tables. Additionally there is a pollutant glassary
    provided, which will provide additional information about the data that is
    available to view, with more specific information about individual
    pollutants, what they are and where they come from to provide a clear
    picture of what is being discharged.
  </p>
  <h2>Project Brief</h2>
  <p>
    The project brief was based around creating a technological solution for
    monitoring the treatment of wastewater. We have decided to develop a website
    that displays sewage outfall monitoring information to address the
    challenges faced by the UK's wastewater treatment facilities. <br /><br />
    This solution offers real-time data collection, analysis, and reporting
    capabilities to help reduce the impact of sewage outfalls on the
    environment, public health, and the economy.
  </p>
</div>

<%- include ('_partials/_footer'); -%>
