<%- include ('_partials/_header'); -%>
<div class ="container-fluid"></div>
<div style="width: 800px;">
    <h1>Water Quality Data</h1>
    <canvas id="myChart"></canvas>
</div>
<div style="width: 800px;">
  <canvas id="acquisitions"></canvas>
</div>
<div>
  <script type="module" src="C:\Users\Ryan\Documents\code\E13\controller\acquisitions.js"></script>
</div>
<div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
</div>
<%- include ('_partials/_footer'); -%>