<%- include ('_partials/_header'); -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class ="container-fluid"></div>
<div>
    <h1>Water Quality Data</h1>
</div>
<div style="width: 800px;">
  <canvas id="myChart"></canvas>
  <script>
  const data = {
    'Poo': 185134,
    'Lemons': 195514,
    'Goats': 80460,
    'Chemicals': 57022,
    'Flouride': 22165,
    'Frogs': 27862
  };
  
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: Object.keys(data),
      datasets: [
        {
          label: 'Pollutants per Unit',
          data: Object.values(data),
        },
      ],
    },
  });
</script>
</div>
<div>
</div>
<%- include ('_partials/_footer'); -%>