<%- include ('_partials/_header'); -%>
 
    <h1>Pollutant Glossary</h1>
    <div>
        <div>
            <h2>Suspended Solids</h2>
            - These are small particles that remain suspended in the water and can cause turbidity and reduce the
            amount of light that reaches aquatic plants. <br>
            - Gastrointestinal issues: Ingesting suspended solids in water can cause gastrointestinal problems, such
            as nausea, vomiting, and diarrhea.<br>
            - Increased risk of infection: Suspended solids can provide a surface for bacteria and other pathogens to
            attach to, increasing the risk of infection from waterborne diseases.<br>
            - Damage to internal organs: If the suspended solids are large enough, they can cause physical damage to
            the digestive tract, liver, and other internal organs.<br>
            - Exposure to toxic substances: Suspended solids can also carry toxic substances, such as heavy metals or
            chemicals, which can have harmful effects on the body if ingested.
        </div>
    
        <div>
            <h2>Organic Matter</h2>
            - This can include human waste, food waste, and other biodegradable materials. When this organic matter
            decomposes, it can deplete oxygen levels in the water, which can harm aquatic life.<br>
            - Gastrointestinal issues: Ingesting organic matter in water can cause gastrointestinal problems, such as
            nausea, vomiting, and diarrhea.<br>
            - Increased risk of infection: Organic matter can provide a food source for bacteria and other pathogens,
            increasing the risk of infection from waterborne diseases.<br>
            - Exposure to toxic substances: Organic matter can carry toxic substances, such as pesticides or
            industrial chemicals, which can have harmful effects on the body if ingested or absorbed through the
            skin.<br>
            - Skin irritation: Contact with organic matter in water can cause skin irritation, such as rashes or
            itching.<br>
            - Increased risk of cancer: Some organic compounds, such as polycyclic aromatic hydrocarbons (PAHs) or
            trihalomethanes (THMs), can increase the risk of cancer if they are ingested over long periods of time.<br>
        </div>

<%- include ('_partials/_footer'); -%>